// Colors
$color-main: #064d57;
$color-body: #f6faff;
$color-blue: #73abff;
$color-blue-light: #f0f5f9;
$color-navy: #19446c;
$color-gray: #7d7d7d;
$color-gray-light: #f8f8f8;
$color-gray-dark: #c4c4c4;
$color-green: #285c34;
$color-light-navy: #96bbdd;
$color-landing-green: #218545;

$color-black: #000;
$color-white: #fff;

$color-info: #5aa6d1;
$color-orange: #ff8a00;
$color-red: #ff7a7a;
$color-green-light: #41a758;
$color-yellow: #ffd584;

$color-black-light: #707070;
$color-pink: #bc70ff;
$color-pink-dark: #a9298b;

$transition-ease: all 0.2s ease;

$box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.05);
$box-shadow-hover: 0 0 15px rgba(183, 209, 84, 0.3);
$box-shadow-card: 0 0 20px rgba(0, 0, 0, 0.1);
$box-shadow-button: 0 5px 20px rgba(0, 0, 0, 0.1);

$border-radius: 5px;

$h-100: 100vh;

// Typography
$Regular: "FF Good Pro Regular";
$Bold: "FF Good Pro Bold";
$Light: "FF Good Pro Light";
$Medium: "FF Good Pro Medium";
$Thin: "Gilroy Thin";
$UltraLight: "Gilroy UltraLight";
$Semibold: "Gilroy Semibold";
